body{
  height: 100%; /*this is to prevent jarring/ visible loading discrepancies, when gradient adjusts after content that takes a while to load loads*/
}

#writing-tutors-section{
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
}

#selected-date-div { grid-area: 1 / 1 / 2 / 5; }
#appointment-section { grid-area: 2 / 1 / 6 / 5; }
#calendar-section { grid-area: 1 / 5 / 3 / 7; }
#confirm-booking { grid-area: 5 / 5 / 6 / 7; }
#preview-book-section { grid-area: 3 / 5 / 5 / 7; }

#preview-book-section{
  align-self: end;
  max-height: 100%;
}

#appointment-section{
  overflow-y:auto
}
#appointment-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x:auto;
}
li > div {
  margin: 1em;
  min-width: 20%;
  max-width: 20%;
}

.appointment-slot{
  background-color: rgba(117, 229, 242, 0.5);
}

.appointment-slot:hover{
  background-color: rgb(111, 188, 255);
}

.selectedAppCSS{
  background-color: rgb(70, 169, 255);
}

.selectedAppCSS:hover {
  background-color: rgb(70, 169, 255);
}



.appointment-slot {
  padding: 1em;
  border-radius: 10px;
}

label+input[type="radio"]:checked{
  background-color: red;
}

#book-button{
  margin: 1em;
}


/* #calendar-section{
  margin-right: auto;
  margin-left: auto;
} */
