body{
  height: 100%; /*this is to prevent jarring/ visible loading discrepancies, when gradient adjusts after content that takes a while to load loads*/
}

#writing-tutors-section{
  display: grid;
  grid-template-columns: 75% 25px;
  grid-template-rows:  repeat('auto-fill');

  grid-template-areas:
  "header header calendar" // can place . instead to designate an empty cell
  "schedule schedule content"
  "schedule schedule book";
}

#appointment-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x:auto;
}
li > div {
  margin: 1em;
  min-width: 20%;
  max-width: 20%;
}

.appointment-slot{
  background-color: rgba(226, 201, 137, .5);
}

.selectedAppCSS{
  background-color: rgb(218, 178, 78);
}

.selectedAppCSS:hover {
  background-color: rgb(218, 178, 78);
}



.appointment-slot {
  padding: 1em;
  border-radius: 10px;
}

label+input[type="radio"]:checked{
  background-color: red;
}

#book-button{
  margin: 1em;
}
